.calltoaction {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: 0.5s;
}

.calltoaction:hover {
  width: 210px;
  height: 110px;
  font-size: 18px;
  background: #8ecae6;
  border-radius: 10px;
  transition: 0.5s;
}

.button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #8ecae6;
  transition: 0.5s;
}

.button:hover {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: #219ebc;
  transition: 0.5s;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background: #219ebc;
  transition: 0.5s;
}

.card-title {
  font-size: 20px;
  transition: 0.2s;
}

.card .card-title:hover {
  margin-left: 10px;
  transition: 0.2s;
}
